style.
  form {
    display: inline-block;
    margin: 0 0.5rem
  }
  table {
    border: none;
  }
  td, th {
    padding: 0 1rem;
  }

  #domains {
    margin: 1rem;
    background: #EEE;
    padding: 0.25rem 1rem 1rem;
  }

  #users {
    margin: 1rem;
    background: #EEE;
    padding: 0.25rem 1rem 1rem;
  }

  #extra {
    margin: 1rem;
    background: #EEE;
    padding: 0.25rem 1rem 1rem;
  }