doctype html
html(lang="en")
  head
    title Isaland Email Management
  body
    h1 Isaland Email Management
    #container.col
      h3 Unknown error occured:
      p= error
      form(action='/', method='GET')
        input(type='submit', value='Back')